<!DOCTYPE html>
<html>
<head>
    <title>Phishing Website Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>🔐 Phishing Website Detection System</h1>
    <p class="subtitle">Machine Learning Based Cyber Security Tool</p>

    <form action="/predict" method="post" class="form-box">
        <input type="text" name="url" 
               placeholder="Enter Website URL (e.g., https://example.com)" required>
        <button type="submit">Analyze Website</button>
    </form>

    {% if prediction_text %}
        <div class="result 
            {% if 'Phishing' in prediction_text %}
                danger
            {% else %}
                safe
            {% endif %}
        ">
            {{ prediction_text }}
        </div>
    {% endif %}

    

    <br>
    <a href="/history" class="history-btn">View Prediction History</a>
    <br><br>
    <a href="/dashboard" class="history-btn">View Analytics Dashboard</a>

</div>

</body>
</html>
